/***********************************************/
/** Feuille de style pour le site BlogVoyage
/** 
/** Date : 10 mars 2021
/** Version : 1.0
/**
/************************************************/

:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

/** container pour le formatage de la page en Grid CSS */
.grid-container{
    display: grid;
    height:100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr 2fr 0.5fr;
    grid-gap: 0.2rem;
    grid-template-areas: 
        "header header header header"

        "sidebar main main main"
        "footer footer footer footer";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: black ;
    text-align: center;
}

.header{
    background: cadetblue;
    grid-area: header;
    background-image: url('../img/cabine.jpg');
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr 0.5fr;
    grid-gap: 0.2rem;
    grid-template-areas: 
        "titre titre titre titre"
        "menu menu menu menu";

}

.header .header-titre{
    font-family: cursive;
    font-weight: 800;
    color:gold;
    font-size: 2rem;
    padding:20px;
}

.header .header-caption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    color:gold;
    font-size: 1.5rem;
}

.titre {
    grid-area: titre;
}

.menu {
    grid-area: menu;
}

.main {
    background: cyan;
    grid-area: main;
}

.sidebar {
    background: darkseagreen;
    grid-area: sidebar;
}

.footer {
    background: black;
    color: lavender;
    grid-area: footer;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr 0.5fr;
    grid-gap: 0.2rem;
    grid-template-areas: 
        "footer1 footer2 footer3 footer4"
        "copyright copyright copyright copyright";

}

.footer1 {
    grid-area: footer1;
}

.footer2 {
    grid-area: footer2;
}

.footer3 {
    grid-area: footer3;
}

.footer4 {
    grid-area: footer4;
}

.copyright {
    grid-area:copyright;
}
    
/*******************************************
/*
/* Gestion du CSS Responsive
/*
/*********************************************/

@media only screen and (max-width: 500px) {
    .grid-container{

        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 0.2rem;
        grid-template-areas: 
            "header"
            "sidebar"
            "main"
            "footer";
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        color: black ;
        text-align: center;
    }

    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.2fr;
        background: rgb(40, 165, 165);
       
        font-size:10px;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 0.2rem;
        grid-template-areas: 
            "footer1"
            "footer2"
            "footer3"
            "footer4"
            "copyright";
    }


}

/** ------------------------ **/
.nav-menu {
    color:gold;
    margin-right: 15px;
    font-family: cursive;
    font-size: 1.2rem;
    text-decoration: none;
}