{% extends 'base.html.twig' %}

{% block title %}Nouveau membre{% endblock %}

{% block body %}
    <h1>Nouveau membre</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">retour à la liste</a>
{% endblock %}
